<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.farm.admin.farm.mapper.FarmWorkMapper" >
  <resultMap id="BaseResultMap" type="com.farm.base.farm.FarmWork" >
    <id column="id" property="id"  />
    <result column="name" property="name"  />
    <result column="type" property="type"  />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="category" property="category"  />
    <result column="parent_id" property="parentId"  />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, type, create_time, update_time, category, parent_id
  </sql>

  <select id="listFarmWork" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from farm_work
    where type=0
    ORDER BY number
  </select>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from farm_work
    where id=#{id}
  </select>

</mapper>